spring:
  application:
    name: task-tracker-backend
  datasource:
    url: jdbc:postgresql://localhost:5432/task-tracker-db
    username: dev
    password: dev
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true

  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml

  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

jwt:
  secret: mySecretKeyForJWTTokenGenerationAndValidation2024TaskTracker
  expiration: 86400000 # 24 hours in milliseconds
